<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>ITEMS</h1>
      <ion-list>
          <ion-item *ngFor="let item of items">
            ID: {{item.id}} <br>
            NAME: {{item.name}} <br>
            BODY: {{item.body}} <br><br>
          </ion-item>
        </ion-list>    
  </div>
</ion-content>
